{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://www.linkedin.com/in/marshall-yelvington-225527245" class="btn btn--linkedin" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>

  <a href="mailto:yelvingm@my.erau.edu" class="btn btn--envelope" title="Email"><i class="fab fa-envelope" aria-hidden="true"></i><span> Email</span></a>

  <a href="https://github.com/yelvingm" class="btn btn--github" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i><span> GitHub</span></a>
</section>
